<mat-card>
    <form (submit)="onAddPost(postForm)" #postForm="ngForm">
        <mat-form-field>
            <input 
                matInput 
                type="text" 
                name="title"
                ngModel
                #title="ngModel"
                placeholder="Post Title"
                required>
                <mat-error *ngIf="title.invalid">Needs a title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                rows="6" 
                name="content"
                ngModel
                #content="ngModel"
                placeholder="Post Content"
                required>
                <mat-error *ngIf="content.invalid">Needs content</mat-error>
            </textarea>
        </mat-form-field>
        <hr>
        <button 
            mat-raised-button 
            color="accent" 
            type="submit">Save Post
        </button>
    </form>
</mat-card>